/* === https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css === */
/* CORS blocked: https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css */

/* === https://nevflynn.com/_next/static/css/69e95263dfbfeeb24f42.css === */
@import url("https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css");
body, html { padding: 0px; margin: 0px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
a { color: inherit; text-decoration: none; }
* { box-sizing: border-box; }
h1, h2, h3, h4, h5, p { margin: 0px; }
@font-face { font-family: "Silka Regular"; src: url("/fonts/Silka-Regular.woff"); font-style: normal; font-weight: 400; font-display: swap; }
@font-face { font-family: "Silka Medium"; src: url("/fonts/Silka-Medium.woff"); font-style: normal; font-weight: 400; font-display: swap; }
@font-face { font-family: "Silka Regular Italic"; src: url("/fonts/Silka-Regular-Italic.woff"); font-style: normal; font-weight: 400; font-display: swap; }
@font-face { font-family: "Moranga Bold"; src: url("/fonts/Moranga-Bold.woff"); font-style: normal; font-weight: 400; font-display: swap; }
.mapboxgl-ctrl-bottom-left { display: none !important; }
.mapboxgl-canvas:focus { outline: none; }
@keyframes playing { 
  0% { height: 3px; }
  50% { height: 12px; }
  100% { height: 3px; }
}

/* === https://nevflynn.com/_next/static/css/0fe8871e7b5561a39666.css === */
.react-grid-layout { position: relative; transition: height 0.2s; }
.react-grid-item { transition: left 0.2s, top; }
.react-grid-item img { pointer-events: none; user-select: none; }
.react-grid-item.cssTransforms { transition-property: transform; }
.react-grid-item.resizing { z-index: 1; will-change: width, height; }
.react-grid-item.react-draggable-dragging { transition: none; z-index: 3; will-change: transform; }
.react-grid-item.dropping { visibility: hidden; }
.react-grid-item.react-grid-placeholder { background: red; opacity: 0.2; transition-duration: 0.1s; z-index: 2; user-select: none; }
.react-grid-item > .react-resizable-handle { position: absolute; width: 20px; height: 20px; }
.react-grid-item > .react-resizable-handle::after { content: ""; position: absolute; right: 3px; bottom: 3px; width: 5px; height: 5px; border-right: 2px solid rgba(0, 0, 0, 0.4); border-bottom: 2px solid rgba(0, 0, 0, 0.4); }
.react-resizable-hide > .react-resizable-handle { display: none; }
.react-grid-item > .react-resizable-handle.react-resizable-handle-sw { bottom: 0px; left: 0px; cursor: sw-resize; transform: rotate(90deg); }
.react-grid-item > .react-resizable-handle.react-resizable-handle-se { bottom: 0px; right: 0px; cursor: se-resize; }
.react-grid-item > .react-resizable-handle.react-resizable-handle-nw { top: 0px; left: 0px; cursor: nw-resize; transform: rotate(180deg); }
.react-grid-item > .react-resizable-handle.react-resizable-handle-ne { top: 0px; right: 0px; cursor: ne-resize; transform: rotate(270deg); }
.react-grid-item > .react-resizable-handle.react-resizable-handle-e, .react-grid-item > .react-resizable-handle.react-resizable-handle-w { top: 50%; margin-top: -10px; cursor: ew-resize; }
.react-grid-item > .react-resizable-handle.react-resizable-handle-w { left: 0px; transform: rotate(135deg); }
.react-grid-item > .react-resizable-handle.react-resizable-handle-e { right: 0px; transform: rotate(315deg); }
.react-grid-item > .react-resizable-handle.react-resizable-handle-n, .react-grid-item > .react-resizable-handle.react-resizable-handle-s { left: 50%; margin-left: -10px; cursor: ns-resize; }
.react-grid-item > .react-resizable-handle.react-resizable-handle-n { top: 0px; transform: rotate(225deg); }
.react-grid-item > .react-resizable-handle.react-resizable-handle-s { bottom: 0px; transform: rotate(45deg); }
.react-resizable { position: relative; }
.react-resizable-handle { position: absolute; width: 20px; height: 20px; background-repeat: no-repeat; background-origin: content-box; box-sizing: border-box; background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+"); background-position: 100% 100%; padding: 0px 3px 3px 0px; }
.react-resizable-handle-sw { bottom: 0px; left: 0px; cursor: sw-resize; transform: rotate(90deg); }
.react-resizable-handle-se { bottom: 0px; right: 0px; cursor: se-resize; }
.react-resizable-handle-nw { top: 0px; left: 0px; cursor: nw-resize; transform: rotate(180deg); }
.react-resizable-handle-ne { top: 0px; right: 0px; cursor: ne-resize; transform: rotate(270deg); }
.react-resizable-handle-e, .react-resizable-handle-w { top: 50%; margin-top: -10px; cursor: ew-resize; }
.react-resizable-handle-w { left: 0px; transform: rotate(135deg); }
.react-resizable-handle-e { right: 0px; transform: rotate(315deg); }
.react-resizable-handle-n, .react-resizable-handle-s { left: 50%; margin-left: -10px; cursor: ns-resize; }
.react-resizable-handle-n { top: 0px; transform: rotate(225deg); }
.react-resizable-handle-s { bottom: 0px; transform: rotate(45deg); }

/* === inline === */
.ffhyrg { position: relative; background: rgba(0, 0, 0, 0.04); border-radius: 23px; transform: translateX(0px); display: flex; font-family: "Silka Medium"; font-size: 14px; padding: 5px; }
.jfOnou { border-radius: 50px; display: flex; -webkit-box-align: center; align-items: center; height: 32px; padding: 0px 16px; transition: opacity 0.3s; color: rgb(13, 17, 23); }
@media (hover: hover) {
  .jfOnou:hover { cursor: pointer; opacity: 0.5; transition: opacity 0.25s; }
}
.bgltbu { position: absolute; height: 32px; width: 49px; border-radius: 16px; background: rgb(255, 255, 255); z-index: -1; }
.rhhZB { font-size: 24px; font-family: "Moranga Bold"; line-height: 32px; font-weight: 400; color: rgb(13, 17, 23); }
.JbRgE { font-size: 24px; font-family: "Moranga Bold"; line-height: 32px; font-weight: 400; color: rgb(13, 17, 23); margin-bottom: 4px; }
.kmdqOL { font-size: 14px; font-family: "Silka Medium"; line-height: 24px; letter-spacing: 0.25px; font-weight: 400; color: rgb(13, 17, 23); }
.gKbppw { font-size: 14px; font-family: "Silka Medium"; line-height: 24px; letter-spacing: 0.25px; font-weight: 400; color: rgb(13, 17, 23); margin-left: 6px; }
.gacfek { font-size: 14px; font-family: "Silka Medium"; line-height: 24px; letter-spacing: 0.25px; font-weight: 400; color: rgb(110, 210, 183); }
.fEhUiY { font-size: 14px; font-family: "Silka Medium"; line-height: 24px; letter-spacing: 0.25px; font-weight: 400; color: rgb(138, 148, 158); }
.lFodq { font-size: 15px; font-family: "Silka Regular"; line-height: 26px; letter-spacing: 0.5px; font-weight: 400; color: rgb(13, 17, 23); }
.kJIbky { height: 100%; width: 100%; display: flex; flex-direction: column; align-items: flex-start; -webkit-box-pack: justify; justify-content: space-between; padding: 36px 42px; border-radius: 32px; overflow: hidden; background: rgb(255, 255, 255); box-shadow: transparent 0px 0px 0px 2px inset; }
@media (max-width: 1200px) {
  .kJIbky { padding: 40px 46px; }
}
@media (max-width: 360px) {
  .kJIbky { padding: 24px 32px; }
}
@media (max-width: 360px) {
  .kJIbky p { font-size: 13px; line-height: 24px; }
}
.fbdEUA { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }
.zopDc { height: 105px; z-index: 1; }
@media (max-width: 1200px) {
  .zopDc { height: 132px; }
}
@media (max-width: 800px) {
  .zopDc { height: 96px; }
}
@media (max-width: 360px) {
  .zopDc { height: 72px; }
}
.hRVPsD { width: 10px; height: 10px; border-radius: 50%; background-color: rgb(255, 255, 255); position: absolute; }
.XGfqt { box-shadow: rgb(240, 242, 248) 0px 0px 0px 2px; position: absolute; height: 36px; padding: 0px 12px; top: 20px; right: 20px; border: none; border-radius: 18px; background: transparent; display: flex; -webkit-box-align: center; align-items: center; transition: 0.2s ease-out; will-change: box-shadow, transform; }
.XGfqt:hover { cursor: pointer; transition: box-shadow 0.2s ease-out; box-shadow: rgb(240, 242, 248) 0px 0px 0px 5px; }
.XGfqt:focus { outline: none; }
.fXBbsC { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }
.fTLwAn { height: 100%; width: 100%; padding: 40px 44px; display: flex; flex-direction: column; -webkit-box-pack: justify; justify-content: space-between; align-items: flex-start; border-radius: 32px; background: rgb(255, 255, 255); box-shadow: transparent 0px 0px 0px 2px inset; }
.iCxVpd { width: 100%; display: flex; -webkit-box-pack: justify; justify-content: space-between; -webkit-box-align: center; align-items: center; }
.jTTfwx { height: 36px; padding: 0px 12px; top: 20px; right: 20px; border-radius: 18px; box-shadow: rgb(240, 242, 248) 0px 0px 0px 2px; border: none; background: transparent; display: flex; -webkit-box-align: center; align-items: center; transition: 0.3s ease-out; will-change: box-shadow, transform; }
.jTTfwx:hover { cursor: pointer; transition: 0.2s ease-out; box-shadow: rgb(240, 242, 248) 0px 0px 0px 5px; }
.jTTfwx:focus { outline: none; }
.cGyDym { width: 36px; height: 36px; border-radius: 18px; position: absolute; bottom: 14px; left: 14px; display: flex; -webkit-box-align: center; align-items: center; overflow: hidden; transition: box-shadow 0.2s ease-out; background: rgb(255, 255, 255); border: none; }
.cGyDym:hover { cursor: pointer; transition: box-shadow 0.2s ease-out; box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, rgba(255, 255, 255, 0.5) 0px 0px 0px 6px; }
.tUvPd { width: 36px; height: 36px; border-radius: 18px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; position: absolute; right: 0px; }
.cSRoFo { margin: 0px 36px 0px 16px; font-size: 14px; font-family: "Silka Regular"; line-height: normal; letter-spacing: 0.3px; font-weight: 400; white-space: nowrap; color: rgb(13, 17, 23); }
.gagHfL { height: 100%; width: 100%; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; border-radius: 32px; background: rgb(152, 208, 255); box-shadow: transparent 0px 0px 0px 2px inset; }
.gwskVc { height: 101%; width: 100%; object-fit: cover; }
.GUaRk { position: absolute; left: 0px; top: 0px; height: 100%; width: 100%; object-fit: cover; }
.cCuSDi { height: 100%; width: 100%; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; border-radius: 32px; position: relative; background: rgb(255, 255, 255); box-shadow: transparent 0px 0px 0px 2px inset; }
.cCuSDi:focus { outline: none; }
.joXAlg { width: 96px; height: 96px; border-radius: 50%; border: 4px solid rgb(255, 255, 255); background: rgba(152, 208, 255, 0.5); z-index: 1; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; will-change: transform; }
@media (max-width: 1200px) {
  .joXAlg { width: 82px; height: 82px; }
}
.eTWOUV { background: rgb(255, 255, 255); width: 36px; height: 36px; border-radius: 18px; position: absolute; bottom: 14px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; transition: box-shadow 0.2s; will-change: transform; z-index: 1; }
.eTWOUV:hover { cursor: pointer; transition: box-shadow 0.2s ease-out; box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, rgba(255, 255, 255, 0.5) 0px 0px 0px 6px; }
.dlZlSs { width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; background-image: url("https://api.mapbox.com/styles/v1/nevflynn/ckmq30o0a0pzx17qoi8dxp3ou/static/-6.2639433,53.304238,12/280x280?access_token=REDACTED&attribution=false&logo=false"); }
@media (max-width: 1200px) {
  .dlZlSs { background-image: url("https://api.mapbox.com/styles/v1/nevflynn/ckmq30o0a0pzx17qoi8dxp3ou/static/-6.2639433,53.304238,12/180x180?access_token=REDACTED&attribution=false&logo=false"); }
}
@media (max-width: 799px) {
  .dlZlSs { background-image: url("https://api.mapbox.com/styles/v1/nevflynn/ckmq30o0a0pzx17qoi8dxp3ou/static/-6.2639433,53.304238,12/343x164?access_token=REDACTED&attribution=false&logo=false"); }
}
.dtaBVa { width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; opacity: 0; }
.cSapaL { height: 100%; width: 100%; padding: 40px 44px; display: flex; flex-direction: column; -webkit-box-pack: justify; justify-content: space-between; align-items: flex-start; border-radius: 32px; background: rgb(255, 255, 255); box-shadow: transparent 0px 0px 0px 2px inset; }
.jPNJAN { width: 100%; display: flex; -webkit-box-pack: justify; justify-content: space-between; -webkit-box-align: center; align-items: center; }
.eYcreW { height: 36px; padding: 0px 12px; top: 20px; right: 20px; border-radius: 18px; box-shadow: rgb(240, 242, 248) 0px 0px 0px 2px; border: none; background: transparent; display: flex; -webkit-box-align: center; align-items: center; transition: 0.3s ease-out; will-change: box-shadow, transform; }
.eYcreW:hover { cursor: pointer; transition: 0.2s ease-out; box-shadow: rgb(240, 242, 248) 0px 0px 0px 5px; }
.eYcreW:focus { outline: none; }
.cmxniz { border-top: none; border-right: none; border-left: none; border-image: initial; width: 100%; background: transparent; border-bottom: 2px solid rgb(240, 242, 248); padding: 12px 0px; font-size: 16px; font-family: "Silka Regular"; letter-spacing: 0.25px; font-weight: 400; color: rgb(13, 17, 23); margin-bottom: 8px; border-radius: 0px; }
.cmxniz:focus { outline: none; }
.cmxniz::-webkit-input-placeholder { color: rgb(201, 209, 217); }
.cmxniz::placeholder { color: rgb(201, 209, 217); }
@media (max-width: 1200px) {
  .iGdAMX { display: none; }
}
@media (min-width: 1200px) {
  .oukGk { display: none; }
}
.eweehR { will-change: transform; }
.dtsTpc { border-radius: 32px; height: 100%; width: 100%; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; background: rgb(255, 255, 255); box-shadow: transparent 0px 0px 0px 2px inset; }
.krLxJa { height: 48px; width: 80px; border-radius: 40px; display: flex; -webkit-box-align: center; align-items: center; position: relative; background: rgb(240, 242, 248); box-shadow: transparent 0px 0px 0px 2px inset; }
.ebpAiN { width: 36px; height: 36px; border-radius: 30px; background: rgb(13, 17, 23); position: absolute; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }
.ebpAiN:hover { cursor: pointer; }
.ejjSbw { height: 20px; margin-right: 4px; position: relative; display: flex; -webkit-box-align: center; align-items: center; }
.ijZCIA { width: 3px; height: 3px; margin-right: 3px; background: rgb(110, 210, 183); border-radius: 1.5px; }
.XgnqO { height: 100%; width: 100%; display: flex; flex-direction: column; -webkit-box-pack: justify; justify-content: space-between; padding: 32px 38px; border-radius: 32px; background: rgb(255, 255, 255); box-shadow: transparent 0px 0px 0px 2px inset; }
@media (max-width: 1200px) {
  .XgnqO { padding: 28px 32px; }
}
@media (max-width: 800px) {
  .XgnqO { padding: 36px 40px; }
}
.igJGZw { width: 54px; height: 54px; margin-left: -4px; }
@media (max-width: 1200px) {
  .igJGZw { width: 36px; height: 36px; }
}
@media (max-width: 800px) {
  .igJGZw { width: 72px; height: 72px; }
}
.hVWfqt { display: flex; -webkit-box-align: center; align-items: center; margin-bottom: 0px; }
.caOpuW { transition: opacity 0.5s; display: inline-block; }
.caOpuW:hover { opacity: 0.5; cursor: pointer; transition: opacity 0.5s; }
@media (max-width: 1200px) and (min-width: 800px) {
  .caOpuW { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%; }
}
@media (max-width: 800px) {
  .caOpuW { font-size: 32px; line-height: 38px; margin: 6px 0px; }
}
.eoodLU { background: rgb(255, 255, 255); width: 36px; height: 36px; border-radius: 18px; position: absolute; bottom: 14px; left: 14px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; transition: box-shadow 0.2s ease-out; will-change: transform; }
.eoodLU:hover { cursor: pointer; transition: box-shadow 0.2s ease-out; box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, rgba(255, 255, 255, 0.5) 0px 0px 0px 6px; }
.juCkzD { fill: rgb(255, 255, 255); }
@media (max-width: 1200px) {
  .juCkzD { transform: scale(0.7); }
}
.byJOhP { height: 100%; width: 100%; border-radius: 32px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; background: rgb(152, 208, 255); box-shadow: transparent 0px 0px 0px 2px inset; }
.hZmgYo { max-width: 1200px; position: relative; margin: -16px auto 0px; padding-bottom: 80px; }
.hZmgYo .react-grid-item.react-grid-placeholder { opacity: 1; background: rgb(237, 233, 233) !important; border-radius: 32px !important; }
.hZmgYo .react-grid-item { transition: all; will-change: transform; }
.hZmgYo .react-grid-item.react-draggable-dragging { transition: none; }
@media (max-width: 1200px) {
  .hZmgYo { max-width: 800px; }
}
@media (max-width: 799px) {
  .hZmgYo { max-width: 375px; }
}
@media (max-width: 374px) {
  .hZmgYo { max-width: 320px; }
}
.iXylth { max-width: 1200px; position: relative; margin: -16px auto 0px; padding-bottom: 80px; }
.iXylth .react-grid-item.react-grid-placeholder { opacity: 1; background: rgb(237, 233, 233) !important; border-radius: 32px !important; }
.iXylth .react-grid-item { transition: 500ms; will-change: transform; }
.iXylth .react-grid-item.react-draggable-dragging { transition: none; }
@media (max-width: 1200px) {
  .iXylth { max-width: 800px; }
}
@media (max-width: 799px) {
  .iXylth { max-width: 375px; }
}
@media (max-width: 374px) {
  .iXylth { max-width: 320px; }
}
.gjQtXz { overflow: hidden; border-radius: 32px; user-select: none; }
.gjQtXz:hover { cursor: grab; }
.gjQtXz:active { cursor: grabbing; }
.fubZvu { transition: 0.25s; }
.fubZvu:hover { box-shadow: rgba(100, 100, 111, 0.1) 0px 5px 24px 0px; }
html { background: rgb(247, 242, 242); }
.ihCoKo { position: relative; background: rgb(247, 242, 242); }
.iQIaBO { width: 100%; height: 136px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; padding: 0px 3.5vw; }
@media (max-width: 600px) {
  .iQIaBO { flex-direction: column; -webkit-box-pack: center; justify-content: center; height: 180px; }
}
@media (max-width: 600px) {
  .eymLyq { margin-bottom: 24px; margin-top: 36px; }
}
.jJtdFL { opacity: 0; will-change: transform, opacity; }
.kAkArv { transition: 0.2s; }
.kAkArv:hover { opacity: 0.6; cursor: pointer; transition: 0.2s; }
@media (max-width: 600px) {
  .kAkArv { display: none; }
}

/* === https://www.gstatic.com/_/translate_http/_/ss/k=translate_http.tr.2f3WBw8L4SI.L.W.O/am=AAAO/d=0/rs=AN8SPfqEMEisTZAmeZOnTrf_mfOPDE49Nw/m=el_main_css === */
/* CORS blocked: https://www.gstatic.com/_/translate_http/_/ss/k=translate_http.tr.2f3WBw8L4SI.L.W.O/am=AAAO/d=0/rs=AN8SPfqEMEisTZAmeZOnTrf_mfOPDE49Nw/m=el_main_css */

